/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header, main, footer{
    padding: 0 20px;
}
p{
    text-align: justify;
}
.text-orange{
    color: #FD6E0A;
}
.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
/* nav style css */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    color: #181818;
    font-weight: 800;
    cursor: pointer;
}
nav > ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav > ul > li{
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
.primary-btn{
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}
/* header relate style */
.header{
    background-color: #FFF8F3;
    padding:50px 0 0 0;
}
header{
    background-image:url('/images/developer.png'), url('/images/header_bg.png');
    background-position: left, bottom right;
    background-repeat: no-repeat;
}
/* banner related style */
.banner{
    padding: 40px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}
.banner-welcome{
    color: #474747;
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin: 5px 0 20px 0;
    color: #181818;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
/* main related style */
main, footer{
    max-width: 1140px;
    margin: 0 auto;
}
/* about related style */
.about{
    margin: 130px 0;
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
}
.section-description{
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
    line-height: 30px;
}
.about-info-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.about-info{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.info-title{
    column-rule: #757575;
    font-weight: 400;
}
.info-description{
    font-weight: 700;
    color: #474747;
}
/* what i do relate style */
.what-i-do{
    margin-bottom: 100px;
}
.whatIDo-des{
    max-width: 910px;
    margin: 30px auto;
}
.skills{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill img{
    width: 44px;
}
.skill .skill-title{
    margin: 30px 0 20px 0;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}
.skill .skill-description{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
/* education related style */
.resume{
    padding-bottom: 100px ;
}
.resume .section-title{
    margin-bottom: 100px;
}
.education-exprience-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.education-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.education-info-title{
    margin-top: 30px;
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.education-info-date{
    margin: 10px 0 20px 0;
    font-weight: 600;
    color: #757575;
    font-size: 20px;
}
.education-info-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
.education-info hr{
    border-color: #7575751a;
}
.download-cv{
    margin-top: 20px;
    text-align: center;
}
/* footer related style */
footer{
    padding-top: 100px;
    background-color: #FFF8F3;
}
.contact-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.contact-info, .contact-form{
    width: 50%;
}
input[type='text'], input[type='email'], textarea{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 30px;
    margin-bottom: 25px;
    display: block;
    border: 0;
}
.contact-info-title{
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.contact-info-description{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #474747;
    margin-bottom: 30px;
}
.social-links a{
    margin-right: 25px;
}
.social-links img{
    width: 25px;
}
.copy-right{
    padding: 50px 0 20px 0;
}
.copy-right > p{
    text-align: center;
}
.copy-right  a{
    color: #757575;
    text-decoration: none;
}

/* Responsive related Style */
.hide{
    display: none;
}
/*----Responsive related style -----*/ 
/* Media querry for small device */
@media screen and (max-width: 595px) {
    nav{
        align-items: flex-start;
        margin: 0;
        padding: 0 20px;
        margin-bottom: 40px;
    }
    nav > ul{
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
    }
    nav>h3.nav-title{
        margin-top: -8px;    
    }
    .hire-me-btn{
        font-size: 1rem;
        padding: 7px 10px;
    }

    nav > ul > li{
        margin:0;
        font-size: 0.824rem;
    }
    .contact-wrapper, 
    .education-exprience-wrapper,
    .banner
    {
        flex-direction: column;
    }
    .skills, 
    .about-info-wrapper
    {
        grid-template-columns: auto;
    }
    .about{
        padding: 0;
        margin-bottom: 50px;
        background-color: #fff;
    }
    .contact-info, .contact-form, .banner-content, .banner > img{
        width: 100%;
    }
    .banner{
        padding: 20px;
    }
    .banner-welcome{
        font-size: 2rem;
    }
    .banner-title{
        font-size: 3rem;
    }
    header{
        background-image: none;
    }
    footer{
        padding-top: 50px;
    }
    .banner-content{
        text-align: center;
    }
}

/* Media querry for medium devices */
@media screen and (min-width:596px) and (max-width:768px) {
    nav{
        align-items: center;
        margin: 0;
        padding: 0 20px;
        margin-bottom: 40px;
    }

    .hire-me-btn{
        font-size: 1.2rem;
        padding: 10px 15px;
    }


    .contact-wrapper, 
    .education-exprience-wrapper
    {
        flex-direction: column;
    }
    .skills,     
    .about-info-wrapper
    {
        grid-template-columns: auto;
    }
    .banner > img{
        width: 60%;
    }
    .contact-info,
    .contact-form 
    .banner-content, 
    .contact-form
    {
        width: 100%;
    }
    .banner{
        padding: 30px;
    }
    .banner-welcome{
        font-size: 3rem;
    }
    .banner-title{
        font-size: 4rem;
    }
    header{
        background-image: none;
    }
    .about{
        padding: 40px ;
        margin-bottom: 50px;
    }
    footer{
        padding-top: 50px;
    }

}

/* Media querry for lage(tab) */
@media screen and (min-width:769px) and (max-width:1100px) {
    nav{
        align-items: center;
        margin: 0;
        padding: 0 20px;
        margin-bottom: 40px;
    }

    .hire-me-btn{
        font-size: 1.3rem;
        padding: 11px 18px;
    }

    .contact-wrapper{
        flex-direction: column;
    }
    .skills, 
    .about-info-wrapper
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-info, .contact-form{
        width: 100%;
    }
    .about{
        padding: 70px ;
        margin-bottom: 50px;
    }
    header{
        background-image:none ;
    }
    .banner{
        padding: 50px;
    }
    .banner > img{
        width: 60%;
    }
}
